# dependencies
/node_modules

# development
/src
/docs
/public
/tests
/benchmark
*.test.ts
*.spec.ts
.github
.gitignore
.editorconfig
tsconfig.json
*.config.*
*.md

# misc
.DS_Store
*.pem

# typescript
*.tsbuildinfo

# ESLint
.eslintcache

# IDEs
.vscode
